<!--  Replace menu links here -->

<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/index">Home</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/authors-list">Authors</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/privacy-policy">Privacy Policy</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/contact">Contact</a>
</li>
<li class="nav-item">
<a target="_blank" class="nav-link" href="https://www.paypal.me/jaiprince17">Buy me a coffee <i class="fa fa-coffee text-danger"></i></a>
</li>
